body{
    margin: 0;
    font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Inter', sans-serif;
}

main{
    background-color: #f0e6e6a6;
    width: 100%;
}



/* first page - main content design start */

/* heading -- menu -- logo  */
.heading{
    margin-left: 100px;
    margin-top: 50px; 
    font-size: 20px;
}



.main-details{
    width: 50%;
    height: 270px;
    margin-top: -150px;
    
   
}
.main-details h1{
    font-size: 50px;

}
.main-image{
    width: 50%;
    margin-left: 150px;
    
}
.main-image img{
    
    width: 440px;
    height: 414px;
}

.main-container{
    display: flex;
    margin-left:100px;
    align-items: center;
    justify-content: center;
}

.main-button{
    background-color: #E02C6D;
    border: none;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 25px;
    color: white;
}
.main-button a{
    text-decoration: none;
    color: white;

}

/* first page - main content design end */


/* popular product section start  */
.product{
    width: 329px;
    height: 476px;
    
    
    border-radius: 5px;
    background-color: white;
}


.product-image img{
    width: 300px;
    height: 256px;
    padding: 12px;
}
.product-name{
     margin-left: 12px;
     margin-top: 5px;
     font-size: 28px;
}
.product-price{
    margin-left: 12px;
     margin-top: -12px;
     font-size: 24px;
     font-family: inter;
     font-weight: 500;

}

.product-rating{
    display: flex;
    align-items: center;
    margin-top: -7px;
    
}
.rating-star{
    font-size: 12px;
    margin-left: 12px;
    margin-top: -12px;
    color: yellow;
    
}
.product-rating p{
    margin-top: -1px;
    margin-left: 15px;
    font-size: 12px; }

.product-detail{
    margin-left: 12px;
     margin-top: -12px;
     font-size: 15px;
     font-family: inter;
     font-weight: 700;

}


.products{
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-row-gap: 30px;
margin-left: 15%;
width: 1047px;
align-items: center;
flex-direction: column;
align-items: center;

}
.popular-collection h1{
    
    
    text-align: center;
    margin-top: 100px;
    
    
}
.products-see-more{
    text-align: end;
    margin-top: 30px;
    margin-right: 130px;
    color: #E02C6D;
    margin-bottom: 30px;
}